@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --easyorder-green: #77ad86;
  --easyorder-gray: #e7e6e6;
  --easyorder-black: #032035;
}

@media (prefers-color-scheme: dark) {
  :root {
    --easyorder-green: #77ad86;
    --easyorder-gray: #e7e6e6;
    --easyorder-black: #032035;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.easyorder-container {
    grid-template-rows: auto 1fr 7rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.embla {
    max-width: calc(min(1536px, 100vw) - 8rem);
    margin: auto;
}
.embla__viewport {
    overflow: hidden;
}
.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}
.embla__slide__number {
    /*box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);*/
    font-size: 4rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--slide-height);
    user-select: none;
}


/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
