@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --easyorder-green: #77ad86;
  --easyorder-gray: #e7e6e6;
  --easyorder-black: #032035;
}

@media (prefers-color-scheme: dark) {
  :root {
    --easyorder-green: #77ad86;
    --easyorder-gray: #e7e6e6;
    --easyorder-black: #032035;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.easyorder-container {
    grid-template-rows: auto 1fr 7rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
